header {
  background-color: lightpink; }
  header div {
    padding: 4px; }
    header div h1 {
      font-size: 30px;
      color: white;
      font-family: montserrat; }
    header div ul {
      text-decoration: none; }

a {
  text-decoration: none; }
  a:hover {
    color: white;
    font-size: 20px; }

footer div {
  background-color: lightgrey;
  font-family: montserrat;
  font-weight: bold;
  color: white;
  padding: 15px;
  line-height: 28px; }
